.jumbotron-background {
  height: 100vh;
  background-image: url("./pictures/joanna-kosinska-129039-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* NavBar Bootsrap override */

.container {
  padding-top: 6px;
  padding-bottom: 6px;
}

.navbar {
  border-radius: 0%;
  margin-bottom: 0;
}

.navbar-inverse .navbar-nav>li>a {
  color: #b0b0b0;
  font-size: 2.2rem;
  
}

.dropdown-menu>li>a {
  font-size: 1.9rem;
}