.jumbotron-background {
  height: 100vh;
  background-image: url("./pictures/joanna-kosinska-129039-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* NavBar Bootsrap override */

.container {
  padding-top: 6px;
  padding-bottom: 6px;
}

.navbar {
  border-radius: 0%;
  margin-bottom: 0;
}

.navbar-inverse .navbar-nav>li>a {
  color: #b0b0b0;
  font-size: 1.8rem;
  font-family: 'Open Sans', sans-serif;
  
}

.dropdown-menu>li>a {
  font-size: 1.7rem;
}

/* Sign Up Form Background */
.signup-background {
  height: 95vh;
  background-image: url("./pictures/rafael-de-nadai-588387-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/*Quizzes Container Background */
.quizzes-background{
  height: 95vh;
  background-image: url("./pictures/benjamin-voros-575800-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.quizzes-space-background {
  background-image: linear-gradient(to right top, #1c253c, #25233c, #2e213a, #351e36, #3c1c31);
}


/* Quiz page background */

.quizPage-background {
  height: 120vh;
  padding-top: 70px;
  background-image: url("./pictures/thomas-curryer-106228-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 40%;
}
