.accordion__title {
    padding: 0;
}

.title-shadow {
    font-size: 4.3rem;
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
}

.sticky-mint {
   
    left: 500px;
    top: 100px;
    transform:rotate(4deg);
    background: #dfd;
}

/* Changing Background for the Add Quizz btn */

.add-quizz {
    margin-left: 40px;
    border: none;
    background: rgba(60, 28, 49, 1);
}

.add-quizz:hover {
    background: #2a1322;
}
