

/* Changing Background for the Add Quizz btn */



.add-quizz {
    margin-left: 40px;
    border: none;
    background: rgba(60, 28, 49, 1);
    font-family: 'Poiret One', cursive;
    font-size: 2.2rem;
    color: rgba(204, 204, 204, 1);
    text-transform: uppercase;
    padding-top: 6px;
    padding-bottom: 6px;
    width: 200px;
    text-align: center;
    text-decoration: none;
    border-radius: 2px;
    filter: drop-shadow(0 0 0.75rem #1c253c);
}

.add-quizz:hover {
    background: #2a1322;
    text-decoration: none;
    color: rgba(204, 204, 204, 1);
}

.add-quizz:visited {
    text-decoration: none;
    color: rgba(204, 204, 204, 1);
}

.add-quizz:focus {

    text-decoration: none;
    color: rgba(204, 204, 204, 1);
}

/*Changing the styles of class legend for the slyder*/

.carousel-custom {
    width: 800px;
    filter: drop-shadow(0 0 0.75rem  rgba(0, 0, 0, .4));
    border-radius: 2px;
}

.carousel .slide #legend h4 {
    font-size: 2rem;
    text-align: left;
    margin-left: 20px;
    padding-bottom: 6px;
    color: rgba(204, 204, 204, 1);
    border-bottom: 1px solid rgba(204,204,204, .2);
}

.carousel .slide #legend{
    background: #222;
    bottom: 100px;
    border-radius: 3px;
   
 } 

 .topic {
    font-family: 'Poiret One', cursive;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: .5rem;
    margin-bottom: 10px;

 }

 .btn-slider {
    border: 2px solid rgba(204, 204, 204, .5);
    font-family: 'Poiret One', cursive;
    font-size: 1.6rem;
    color: rgba(204, 204, 204, 1);
    text-transform: uppercase;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 20px;
    padding-right: 20px;
    letter-spacing: .5rem;
    width: 200px;
    text-align: center;
    text-decoration: none;
    border-radius: 2px;
    filter: drop-shadow(0 0 0.75rem #1c253c);
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    margin-bottom: 10px;
   
 }

 .btn-slider:hover {
    text-decoration: none;
    color: rgba(204, 204, 204, 1);
    background: rgba(249, 249, 249, .05);
 }

 .btn-slider:focus {
    text-decoration: none;
    color: rgba(204, 204, 204, 1);
    background: rgba(249, 249, 249, .05);
 }

 .carousel .carousel-status {
    font-family: 'Poiret One', cursive;
    font-size: 25px !important;
    color: rgba(165, 143, 165, 1);
 }


 /* Topics button on the Quiz page */


 .transparent-btn {
    border: 2px solid rgba(204, 204, 204, .5);
    font-size: 2.2rem;
    color: rgba(204, 204, 204, 1);
    text-transform: uppercase;
    padding-top: 6px;
    padding-bottom: 6px;
    width: 200px;
    text-align: center;
    text-decoration: none;
    border-radius: 2px;
    filter: drop-shadow(0 0 0.75rem #1c253c);
 }
 
 .transparent-btn:hover {
    text-decoration: inherit;
    color: rgba(204, 204, 204, 1);
    background: rgba(249, 249, 249, .05);
  }

  .transparent-btn:focus {
    text-decoration: inherit;
    color: inherit;
  }

  .topics-small {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.7rem;
    text-transform: capitalize;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
 }

 .purple-bg {
    background: rgba(60, 28, 49, 1);
    border: none;
    padding-top: 9px;
    padding-bottom: 9px;
    font-weight: 500;
 }

 
.purple-bg:hover {
    background: #2a1322;
    text-decoration: none;
    
}


